<%= form_with(model: contact, html: { class: "basic-grey"}) do |form| %>
  <% if contact.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Contacts</h1>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :kind_id, style: "display: block" %>
    
    <%= collection_select(:contact, :kind_id, @kind_option_for_select, :id, :description) %>
  </div>

  <div>
    <%= form.label :rmk, style: "display: block" %>
    <%= form.text_area :rmk %>
  </div>

  <div>
    <%= form.submit "Enviar", class: "button" %>
    <%= link_to "Back to contacts", contacts_path, class: "button" %>
  </div>
<% end %>
