<p style="color: green"><%= notice %></p>

<%= render @address %>

<div class = "basic-grey">

  <%= link_to "Edit this address", edit_address_path(@address), class: "button"  %> 
  <%= link_to "Back to addresses", addresses_path, class: "button"  %>
        <br>
        <br>


  <%= button_to "Destroy this address", @address, method: :delete, class: "button"  %>
</div>

